body {
  background: #d8dee9; /* hexadecimal number */
  padding: 15px;
  font-size: 30px;
  color: #3b4252;
}

h2 {
  color: #434c5e;
}

h1 {
  color: #bf616a;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
strong {
  color: #5e81ac;
}
